body {
    margin: 0;
    background-image: url("http://procmain.eu/img/bg.jpg") !important;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.pm-header {
    background-color: rgba(0, 0, 0, 0.6);
}
.pm {
    margin: 0 auto;
    width: 1200px;
    font-family: Arial, sans-serif;
}
.pm-header .pm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.pm-logo {
    position: relative;
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: lightyellow;
}
.pm-logo-img {
    position: absolute;
    left: -50px;
    height: 50px;
    transform-origin: 35px 31px;
    animation: hammer-animation 5s ease-in-out 0s infinite;
    animation-direction: alternate;
}
@keyframes hammer-animation{
    80%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-180deg);
    }
}
.pm-menu-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
    text-decoration: none;
    color: lightyellow;
}
.pm-menu-item:hover {
    background-color: black;
}