<footer class="footer has-text-centered">
  <div class="container">
    <p style="margin-top: 1rem;">
      <a href="http://bulma.io">
        <img src="img/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      </a>
    </p>
  </div>
</footer>
