<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">Security/Users</div>
        <div class="column">Security/Roles</div>
        <div class="column">Security/Groups</div>
        <div class="column">Catalogs/Customers</div>
        <div class="column">Catalogs/Products</div>
      </div>
    </div>
  </div>
</section>