<section class="hero is-medium is-primary">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">P&L</a></li>
      <li><a href="#">Security</a></li>
      <li class="is-active"><a href="#" aria-current="page">Users</a></li>
    </ul>
  </nav>
</section>
