<section class="section">
  <aside class="menu">
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li>
        <a class="is-active">Security</a>
        <ul>
          <li><a>Users</a></li>
          <li><a>Roles</a></li>
          <li><a>Groups</a></li>
        </ul>
      </li>
      <li><a>Settings</a></li>
    </ul>
    <p class="menu-label">
      Catalogs
    </p>
    <ul class="menu-list">
      <li><a>Organizations</a></li>
      <li><a>Customers</a></li>
      <li><a>Products</a></li>
    </ul>
  </aside>
</section>
