<section class="section">
  <div class="buttons">
    <button class="button is-primary">New</button>
    <button class="button is-primary">Delete</button>
  </div>
  <div class="content">
    <%- include('../' + data.list) %>
  </div>
</section>
