<section class="section">
  <aside class="menu">
    <ul class="menu-list">
      <li><a href="/" id="menu__dashboard" class="is-active" onclick="menuClick(this)">Dashboard</a></li>
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li><a href="/users" id="menu__users" onclick="menuClick(this)">Users</a></li>
      <li><a href="/roles" id="menu__roles" onclick="menuClick(this)">Roles</a></li>
      <li><a href="/groups" id="menu__groups" onclick="menuClick(this)">Groups</a></li>
      <li><a href="/settings" id="menu__settings" onclick="menuClick(this)">Settings</a></li>
    </ul>
    <p class="menu-label">
      Catalogs
    </p>
    <ul class="menu-list">
      <li><a href="/organizations" id="menu__organizations" onclick="menuClick(this)">Organizations</a></li>
      <li><a href="/customers" id="menu__customers" onclick="menuClick(this)">Customers</a></li>
      <li><a href="/products" id="menu__products" onclick="menuClick(this)">Products</a></li>
    </ul>
    <p class="menu-label">
      Documents
    </p>
    <ul class="menu-list">
      <li><a href="/invoices" id="menu__invoices" onclick="menuClick(this)">Invoices</a></li>
      <li><a href="/orders" id="menu__orders" onclick="menuClick(this)">Orders</a></li>
    </ul>
  </aside>
</section>
