<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Business accounting</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<% if (data.modal) { %>
  <%- include(data.modal) %>
<% } else { %>
  <%- include('common/menuList') %>
<% } %>

<script type="text/javascript" src="lib/main.js"></script>
</body>
</html>
