<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Business accounting</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div class="columns">
  <div class="column">
    <%- include('common/menu') %>
  </div>
  <% if (list) { %>
    <div class="column <% if (detail) { %>is-three-fifths<% }else { %>is-four-fifths<% } %>">
      <%- include('common/list') %>
    </div>
  <% } %>
  <% if (detail) { %>
    <div class="column<% if (!list) { %> is-four-fifths<% } %>">
      <%- include('common/detail') %>
    </div>
  <% } %>
</div>

<script type="text/javascript" src="lib/main.js"></script>
</body>
</html>
