<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <div class="content">
          <h3>Profit and Loss Statement</h3>
        </div>
      </div>
    </div>
  </div>
</section>