<div class="table-container">
  <table class="table is-bordered is-hoverable">
    <thead>
      <tr>
        <th>id</th>
        <th>user</th>
        <th>role</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < data.rows.length; i++) {%>
        <tr onclick="tableClick(this)">
          <td><%= data.rows[i].id %></td>
          <td><%= data.rows[i].user_name %></td>
          <td><%= data.rows[i].role_name %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
