<div class="table-container">
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>doc_date</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < rows.length; i++) {%>
        <tr>
          <td><%= rows[i].id %></td>
          <td><%= rows[i].doc_date %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
